# Exclude visual studio directory
/.vs

# Exclude Visual Studio build directory
/build
/x64
/x86
/Exercises/E01_Functions/x64
/Exercises/E01_Functions/x86
**.slnx
**..vcxproj
**..vcxproj.user
**..vcxproj.filters

# Ignore all visual studio code structured intermittent and binary files
*.exe
*.obj

# Ignore not project relevant files
*.png
